.btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    transition: opacity 1s ease-in-out;
}

.btn-container button {
    display: block;
    color: aliceblue;
    font-size: 1.6em;
    font-weight: 700;
    width: 170px;
    height: 50px;
    background-image: url(../../img/wood-btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container button:active {
    transform: scale(0.95);
}

.btn-container.opacity button {
    pointer-events: none;
    cursor: none;
}

@media screen and (min-width: 1537px) {
    .btn-container button {
        font-size: 2em;
        font-weight: 700;
        width: 200px;
        height: 60px;
    }
}