@import './setup/typography.css';
@import './basics/base.css';
@import './cmps/games-container.css';
@import './cmps/board.css';
@import './cmps/cell.css';
@import './cmps/modal.css';
@import './cmps/btnContainer.css';

.headline {
    font-size: 4em;
    font-weight: normal;
}

.turn{
    color: aliceblue;
}
.turn.black{
    color: rgb(37, 36, 36);
}

@media screen and (min-width: 1537px) {
    .main-layout {
        max-width: 600px;
    }
}